<script src="/assets/live2dw/lib/L2Dwidget.min.js?0c58a1486de42ac6cc1c59c7d98ae887"></script><script>L2Dwidget.init({"pluginRootPath":"/assets/live2dw/","pluginJsPath":"lib/","pluginModelPath":"assets/","tagMode":false,"debug":false,"model":{"scale": 1,"jsonPath":"/assets/live2dw/assets/unitychan.model.json"},"display":{"superSample":2,"position":"left","width":70,"height":90,"hOffset":-14,"vOffset":40},"mobile":{"show":true},"log":false,"react":{opacityDefault: 1.0,opacityOnHover: 0.2}});</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.0/dist/APlayer.min.css">


<!-- 为博客底部添加音乐组件 -->
<div id="player"  class="aplayer"></div>
<link href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/hls.js/dist/hls.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script> 

<script type="text/javascript">
const ap = new APlayer({
    container: document.getElementById('player'),
    fixed: true,
	autoplay: true,
    audio: [
        {
            name: 'Alpha',
            artist: 'C418',
            url: 'http://music.163.com/song/media/outer/url?id=27961148.mp3',
            cover: '/assets/music/cover.jpg',
        },
        {
            name: 'Wait',
            artist: 'C418',
            url: 'http://music.163.com/song/media/outer/url?id=27961167.mp3',
            cover: '/assets/music/cover.jpg',
        },
		{
            name: 'Blocks',
            artist: 'C418',
            url: 'http://music.163.com/song/media/outer/url?id=27961174.mp3',
            cover: '/assets/music/cover.jpg',
        },
    ]
});
</script>