<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
<script src="/assets/live2d-widget/autoload.js"></script>

<!-- 为博客底部添加音乐组件 -->
<div id="player"  class="aplayer"></div>
<link href="/assets/aplayer-custom/APlayer.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/hls.js/dist/hls.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script> 

<script type="text/javascript">
const ap = new APlayer({
    container: document.getElementById('player'),
    fixed: true,
	autoplay: true,
    audio: [
        {
            name: 'Alpha',
            artist: 'C418',
            url: 'http://music.163.com/song/media/outer/url?id=27961148.mp3',
            cover: '/assets/music/cover.jpg',
        },
        {
            name: 'Wait',
            artist: 'C418',
            url: 'http://music.163.com/song/media/outer/url?id=27961167.mp3',
            cover: '/assets/music/cover.jpg',
        },
		{
            name: 'Blocks',
            artist: 'C418',
            url: 'http://music.163.com/song/media/outer/url?id=27961174.mp3',
            cover: '/assets/music/cover.jpg',
        },
    ]
});
</script>