<!-- 添加看板娘 -->
<!-- script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
<！-- script src="/assets/live2d-widget/autoload.js"></script>
<script type="text/javascript">
        live2d_settings['modelId'] = 6;
        live2d_settings['modelTexturesId'] = 4;
</script>

<!-- 添加返回顶部按钮 -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div id="back-top">
  <a href="#top" title="回到顶部">
    <i class="icon-2x icon-arrow-up"></i>
  </a>
</div>
<script type="text/javascript">
$("#back-top").hide();
$(document).ready(function () {
  $(window).scroll(function () {
    if ($(this).scrollTop() > 800) {
      $('#back-top').fadeIn();
    } else {
      $('#back-top').fadeOut();
    }
  });
  $('#back-top a').click(function () {
    $('body,html').animate({
      scrollTop: 0
    }, 500);
    return false;
  });
});
</script>
<link href="/assets/back-top/back-top.css" rel="stylesheet">

<!-- 添加音乐播放器 -->
<div id="player"  class="aplayer"></div>
<link href="/assets/aplayer-custom/APlayer.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/hls.js/dist/hls.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script> 

<script type="text/javascript">
const ap = new APlayer({
    container: document.getElementById('player'),
    fixed: true,
	autoplay: false,
	order: 'random',
    audio: [
		{
            name: 'Pink + White',
            artist: 'Frank Ocean',
            url: 'http://music.163.com/song/media/outer/url?id=426194883.mp3',
            cover: '/assets/music/cover4.jpg',
        },
		{
            name: 'Nights',
            artist: 'Frank Ocean',
            url: 'http://music.163.com/song/media/outer/url?id=426194889.mp3',
            cover: '/assets/music/cover4.jpg',
        },
		{ 
			name: 'Alpha', 
			artist: 'C418', 
			url: 'http://music.163.com/song/media/outer/url?id=27961148.mp3', 
			cover: '/assets/music/cover.jpg', 
		},
		{
            name: 'Whoville',
            artist: 'Tyler, The Creator',
            url: 'http://music.163.com/song/media/outer/url?id=1325780143.mp3',
            cover: '/assets/music/cover2.jpg',
        },
		{
            name: 'Fake Plastic Trees',
            artist: 'Radiohead',
            url: 'http://music.163.com/song/media/outer/url?id=18795423.mp3',
            cover: '/assets/music/cover3.jpg',
        },
				{
            name: 'Planet Telex',
            artist: 'Radiohead',
            url: 'http://music.163.com/song/media/outer/url?id=18795416.mp3',
            cover: '/assets/music/cover3.jpg',
        },
		{
            name: 'High and Dry',
            artist: 'Radiohead',
            url: 'http://music.163.com/song/media/outer/url?id=18795421.mp3',
            cover: '/assets/music/cover3.jpg',
        },
    ]
});
</script>