#back-top {
  position: fixed;
  bottom: 30px;
  right: 0%;
  margin-right: 40px;
  background-color: #fff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 100px;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  transition: 0.7s;
  /*behavior: url(/css/PIE.htc);*/
}
#back-top:hover {
  background-color: #ddd;
}
#back-top a {
  background:  url(/assets/img/back-top-arrow.png) no-repeat center center;
  color: #000;
  text-decoration: none;
  padding: 35px 40px;
  display: inline-block;
}